<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.webServer>
    <modules>
      <add name="WcfMessageCorrelationModule" type="WcfServiceCallLogger.Modules.WcfMessageCorrelationModule"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ClientBehaviourExtension" type="WcfServiceCallLogger.BehaviourExtensions.ClientBehaviourExtension"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>